// IMPORT
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');
@import "@/style/variables.scss";

// COMMON
body{
  font-family: 'Montserrat', sans-serif;
  color: $text-main-color;

  /* width */
  &::-webkit-scrollbar {
    display: none;
  }
}

  // For the alternative texts
  .alternative-text{
    font-family: 'Raleway', sans-serif;
  }

// image reset
img{
  width: 100%;
  display: block;
  height: auto;
}

// align center text in the image
.text-center{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Sections Style
.section-title{     
  font-size: 35px;
  color: $text-main-color;
}

.section-subtitle{
  width: 45%;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 600;
  line-height: 35px;
  color: $text-light-grey;
}

.line{
  height: 2px;
  width: 220px;
  background-color: $bg-button-yellow;
  margin: 1.6rem auto;
}

// Section devider structure
.divider{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  
  .line{
    margin: 0 8rem;
    width: 380px;
  }

  span{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
  }
}

// overlay effect
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: $cta-bg-color;
}

.text-overlay {
  color: $text-white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}

.overlay-cont{
  position: relative;

  &:hover .overlay {
    opacity: 1;
  }

  .dot {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
    margin: 15px 6px;
    color: $cta-bg-color;
    background-color: $main-bg-color;
  }

  .overlay-subtext{
    padding: 10px 0;
    font-size: 10px;
  }
} 

// BUTTONS
.button{
  letter-spacing: 2px;
  text-transform: uppercase;
}

.yellow-btn{
  background-color: $bg-button-yellow;
  color: $text-main-color;

  &:hover{
    background-color: $bg-button-grey;
    color: $text-white;
  }
}

.grey-btn{
  background-color: $bg-button-grey;
  color: $text-white;

  &:hover{
    background-color: $bg-button-yellow;
    color: $text-main-color;
  }
}

// RESET
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}

// Loader Effect 
.loader {
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid $bg-button-grey;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}